<div class="game-board">
    <div class="column-group">    
        <p>Test</p>
        <app-board-column [boardColumnData]="gameState.getGameBoard()[0]"></app-board-column>
    </div>
    <div class="column-group">    
        <p>Test</p>
        <app-board-column [boardColumnData]="gameState.getGameBoard()[1]"></app-board-column>
    </div>
    <div class="column-group">    
        <p>Test</p>
        <app-board-column [boardColumnData]="gameState.getGameBoard()[2]"></app-board-column>
    </div>
</div>