@if(player === "human"){
    <div appHighlight (click)="placeDice(player)">
        <app-cell [diceValue]="boardColumnData[0]"></app-cell>
        <app-cell [diceValue]="boardColumnData[1]"></app-cell>
        <app-cell [diceValue]="boardColumnData[2]"></app-cell>
    </div>
}@else {
    <div appHighlight (click)="placeDice(player)">
        <app-cell [diceValue]="boardColumnData[2]"></app-cell>
        <app-cell [diceValue]="boardColumnData[1]"></app-cell>
        <app-cell [diceValue]="boardColumnData[0]"></app-cell>
    </div>
}
